.spinner-container {
  /* Default margin values */
  margin-left: 175%;
  margin-top: 50%;
}

span {
  font-size: 12px;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .spinner-container {
    margin-left: 45%;
    margin-top: 50%;
  }
}

/* Media query for tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  .spinner-container {
    margin-left: 70%;
    margin-top: 50%;
  }
}

/* Media query for desktops */
@media (min-width: 1024px) {
  .spinner-container {
    margin-left: 175%;
    margin-top: 50%;
  }
}

/* Override max-width for img tag inside spinner-container */
.spinner-container img {
  max-width: none;
}